* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #090c1b;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

div {
  margin: 0;
  padding: 0;
}

svg {
  margin: 0 20px 20px 0;
}